
.body{
background-color:#d0e4fe;
font-family:Arial,Helvetica,sans-serif;
background-image:url(http://people.ischool.berkeley.edu/~i153-021/i153/a2/imgxiaohui.jpg);
background-size:1000px,1000px;
background-position: 50% 50%;
background-repeat:no-repeat;

}
.xyz{
	background-image:url(http://people.ischool.berkeley.edu/~i153-021/i153/a2/imgtouxiang.jpg);
	background-size:50px,50px;

}
.education {
       font-weight: bolder;
       text-align: center;
       }

.publication {
       font-weight: bolder;
       text-align: center;
       }
.tests{
	 font-weight: bolder;
       text-align: center;
}
.Researches {
       font-weight: bolder;
       text-align: center;
       }

.Internship {
       font-weight: bolder;
       text-align: center;
       }

.Activities {
       font-weight: bolder;
       text-align: center;
       }

.Patents {
       font-weight: bolder;
       text-align: center;
       }
.I1{
	background-color:red;
}

.N1{
	background-color:red;
}

.N2{

	background-color:red;
}

.N3{

	background-color:red;
}

.N4{
	background-color:red;
}
.scholarships{
       font-weight: bolder;
       text-align: center;
       }